@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
    Response.Headers["X-Tabletop-Game"] = "Pathfinder";
}
<!DOCTYPE html>
<html lang="en" ng-app="caverns">
<head>
    <meta charset="utf-8" />
    <title>Carbohydrate</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app/app.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Carbohydrate</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="navbar-text nofloat">Hello, <a href="#" class="navbar-link">@User.Identity.Name</a>!</span>
                        </li>
                        <li><a href="#">Log off</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row-table">
            <div class="col-md-10 left-col col col-table">
                <div class="row hidden" ng-controller="home">
                    <div class="col-md-12">
                        <form action="#" class="form-inline">
                            <label for="game-name">Game Name</label>
                            <input type="text" name="game-name" id="game-name" ng-model="gamename" placeholder="ex. GAME OF THRONES" class="form-control" />
                            <label for="password">Password</label>
                            <input type="text" name="game-password" id="game-password" ng-model="gamepassword" placeholder="(Optional)" class="form-control" />
                        </form>
                        <span>{{ gamename }}</span>
                    </div>
                </div>
                <div class="row" ng-controller="game">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 game-title">
                                <h2>{{ name }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 playing-area well" style="width: 100%;">
                                        <div class="row">
                                            <div class="col-md-12" style="width: 100%;">
                                                <div class="card black-card center">
                                                    <h5>I <b>really</b> hate it when my mother...</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row white-card-row">
                                            <div class="col-md-12">
                                                <div class="card white-card">
                                                    <h5>Player 1</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4>Your Hand</h4>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="pull-right">You have {{ points }} points</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card white-card selectable" ng-repeat="card in cards">
                                            {{ card.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 right-col col col-table">
                <div class="game-title">
                    <h2>Players</h2>
                </div>
                <ol>
                    <li>bob</li>
                    <li>saget</li>
                    <li>patton</li>
                    <li>oswalt</li>
                </ol>
                <div class="chatbox">
                    <input type="text" class="form-control" placeholder="Say something!" />
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Carbohydrate</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
